body{
    font-family: sans-serif;
    color: #616161;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}
#navbar{
    display: flex;
    height: 70px;
    padding: 8px;
    justify-content: space-between;
    box-shadow: 0 0 2px black;
    background-color: white;
    z-index: 9999;
}
#navbar div,#navbar a{
    display: inline-flex;
    justify-content: flex-end;
}
#navbar div.link{
    align-items: center;
}
.iconcounter{
    height: 100%;
    width: auto;
    display: inline-flex;
    align-items: center;
    position: relative;
}
div.counter{
    color: white;
    position: absolute;
    top: 0;
    right: -10;
    background-color: orange;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center !important;
    align-items: center;
    border-radius: 50%;
}
div.link img{
    width: auto;
    height: 60%;
}
div.link a{
    color: #17a99d;
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
    margin: 0 12px;
}
div.link a.back{
    color: white;
    background-color: #17a99d;
    border-radius: 4px;
}
#navbar > div:first-child img{
   height: 100%;
   width: 200px;
}
div.central{
    display: flex;
    justify-content: center;
}
div.central .container{
    margin-top: 20px;
    min-width:40%;
}
input{
    padding: 8px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #17a99d;
    background-color: transparent;
    color: #616161;
    position: relative;
    transition: 0.2s border-bottom;
}
input:focus{
    border-bottom: 2px solid #12dee0;
}
.form > div{
    margin: 8px 0;
    position: relative;
}
input[type=submit]{
    margin-top: 16px;
    border: none;
}
.btnmedium{
    background-color: #17a99d;
    color: white;
    padding: 16px;
    font-weight: bold;
    font-size:18px;
}
#notification{
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding: 16px;
    transition: 0.5s bottom;
    z-index: 99999999;
    border-radius: 5px;
    color: white;
}
#notification.error{
    background-color:#f44336;
}
#notification.notify{
    background-color:#3b58ea;
}
#notification.hide{
    bottom: -200px;
}
#notification:hover{
    cursor: pointer;
}
#slider{
    height: 350px;
    background-color: red;
}
.section{
    margin: 8px 0;
}