@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf');
}
body{
    font-family: roboto,sans-serif;
    color: #616161;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
}
a{
    outline: none;
}
#navbar{
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    z-index: 999999999;
    background-color: white;
    height: 60px;
    padding: 0px 32px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    transition: box-shadow 0.2s;
}
#navbar.dashboard{
    background-color: #37474F;
}
#navbar.dashboard #userButton > a{
    background-color: #263238;
}
#navbar.scroll{
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#navbar > div{
    display: inline-flex;
    height: 100%;
    align-items: center;
}
#navbar > div:first-child{
    flex-grow: 1;
}
#navbar > div:first-child img{
    height: 45px;
    max-width: 200px;
}
#logo{
    margin:0 !important;
}
#navbar a{
    display: inline;
    text-decoration: none;
    margin: 8px;
    padding: 8px;
}
.dropdownSection, #loginButton{
    position: relative;
    height: 100%;
    display: inline;
    margin: 0;
}
#cartList{
    padding: 8px;
    min-width: 250px;
}
#cartList > a:last-child:hover{
    color: #17a99d;
    background-color: #f5f5f5;
}
.cartItem{
    margin: 4px 0;
    padding: 4px;
    display: flex;
    position: relative;
}
.cartItem img{
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
.cartItem .information{
    padding-right: 32px;
}
.cartItem .information a{
    padding: 0 !important;
}
.cartItem .removeFromCart{
    position: absolute;
    top: 4px;
    right: 0px;
    padding: 0 !important;
}
.cartItem span{
    display: block;
}
.dropdownListEmpty{
    padding: 32px 64px;
}
.cartItem .name{
    font-weight: bold;
    color: #17a99d;
}
#category{
    color: #333;
    display: inline-flex !important;
    align-items: center;
    margin: 0 !important;
    align-self: stretch;
}
#categorySection{
    display: inline-flex;
    margin-left: 16px;
}
.dropdownList{
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    margin: 0;
    padding: 8px 0;
    font-size: 12px;
    background-color: #fafafa;
    white-space: nowrap;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.dropdownList::before{
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    bottom: 100%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fafafa;
}
#notifications + .dropdownList a:hover{
    color: #17a99d;
    background-color: #f5f5f5;
}
/*#category:hover + .dropdownList, #cart:hover + .dropdownList, .dropdownList:hover{*/

/*.dropdownSection:hover .dropdownList, .dropdownList:hover{*/
.dropdownSection.visible > .dropdownList{
    display: block;
}
.dropdownList a{
    display: block !important;
    padding: 8px 16px !important;
    color: #263238;
    margin: 0 !important;
}
.dropdownList a i{
    margin-right: 8px;
}
#categoryList a:hover,#userList a:hover{
    color: #17a99d;
    background-color: #f5f5f5;
}
#searchBar{
    flex-grow: 1;
    margin: 0 16px;
}
#searchBar form{
    margin: 0;
    width: 100%;
    position: relative;
    color: #aaa;
}
#searchBar input{
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    border: 0;
    outline: 0;
    background-color: white;
    color: #999;
}
#searchBar input+.fa-search{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}
#rightMenu{
    padding: 0 8px;
}
#rightMenu > div > a{
    margin: 0 !important;
    outline: none;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#userList{
    left: initial;
    right: 0;
}
.navicon{
    font-size: 30px !important;
    color: #17a99d;
}
.counter{
    color: white;
    background-color: orange;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    font-size: 12px;
}
#userButton{
    height: 100%;
}
#userButton > a{
    background-color: #17a99d;
    color: white;
    display: inline-flex !important;
    align-items: center;
    padding: 4px 12px;
}
#userButton > a i{
    color: white;
    margin-right: 10px;
}
#login{
    color: #17a99d;
}
#register{
    background-color: #17a99d;
    color: white;
    border-radius: 2px;
    font-weight: bold;
}
.central{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 40%;
    display: inline-block;
    margin-top: 16px;
    padding: 16px;
    border-radius: 5px;
}
.central h1{
    text-align: center;
    font-size: 20px;
}
h1{
    color: #333;
}
.regularform{
    display: inline-block;
    flex: 0 0 47%;
}
.fullform{
    width: 100%;
}
.regularform > div{
    display: flex;
    margin: 8px 0;
    align-items: center;
    position: relative;
}
.halfForm{
    width: 50%;
}
.regularform > div div{
    display: inline-flex;
}
.regularform > div div:first-child{
    flex: 0 0 32%;
}
.regularform.fullform > div div:first-child{
    flex: 0 0 20%;
}
.regularform > div div:nth-child(2){
    flex: 1 0 60%;
}
.singleForm{
    margin: 0;
}
.singleForm > div div:first-child{
    flex: 0 0 100% !important;
}
.singleForm > div{
    margin: 4px 0;
}
.singleForm input[type=text]{
    padding: 8px;
}
.regularform .formError{
    transform: translateY(-50%);
    right: 8px;
    z-index: 100;
}
.smallForm .formError{
    right: -32px;
}
.regularForm select{
    width: 100%;
    border: 0;
    padding: 12px 20px 12px 12px;
    border: 1px solid #ddd;
    color: black;
    background-color: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAJ1BMVEUAAACenp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp4A/YQuAAAADHRSTlMAARAWGCcsLs7V8ftXqJFXAAAAM0lEQVQI12NgwAFUQ0HAgWHOGRDYyGAFpgsYmNcAqeNABVZgLgNI4DhYhxWYCxRoY8ANAKXgFyfUAuREAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: top 50% right 6px;
}
.regularForm button{
    background-color: #eee;
    color: inherit;;
    padding: 8px;
    border: 1px solid #ddd;
    font-weight: bold;
}
.smallForm select{
    padding: 4px 20px 4px 8px;
}
.regularform input,.regularform textarea{
    color: black;
    width: 100%;
    padding: 12px;
    border:none;
    border: 1px solid #ddd;
    transition: 0.2s border;
    background-color: transparent;
    outline: none;
}
.regularform input[type=radio]{
    width: initial;
}
.regularform input:focus,.regularform textarea:focus{
    border: 1px solid #17a99d;
}
.regularform input.error,.regularform select.error{
    box-shadow: 0 0 3px #ff4343;
}
.regularform label{
    margin-right: 16px;
    padding: 12px 0;
}
.largeImageUpload{
    display: inline-block;
    flex: 0 0 47%;
    border: 2px dashed #626262;
    border-radius: 16px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #17a99d;
    max-height: 500px;
}
.largeImageUpload > div{
    text-align: center;
}
.largeImageUpload:hover{
    cursor: pointer;
    border: 2px dashed #17a99d;
}
.largeImageUpload span{
    font-weight: bold;
    font-size: 40px;
}
.form input:focus{
    border:none;
    border-bottom: 2px solid #17a99d;
}
.form input{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #616161;
    transition: 0.2s border-bottom;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: black;
}
.form input:focus{
    border:none;
    border-bottom: 2px solid #17a99d;
}
.form input[type=radio]{
    width: initial;
}
.inputlabel{
    background-color: #e0e0e0;
    color: #9e9e9e;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    z-index: +2;
}
.form input[type="submit"],.regularform input[type=submit],.form button[type=submit],.regularform button[type=submit]{
    border: none;
    padding: 16px;
    margin-top: 16px;
    background-color: #17a99d;
    color: white;
    font-weight: bold;
    width: 100%;
}
.singleForm input[type=submit]{
    padding: 8px;
    margin-top: 8px;
    font-weight: normal;
    width: initial;
}
.regularform input[type=submit].smallbutton{
    width: initial  ;
}
.form > div{
    margin: 8px 0px;
    position: relative;
}
.formlabel{
    position: relative;
    display: inline;
    transition: color,top 0.2s;
}
.formError{
    position: absolute;
    top: 50%;
    right: 0;
    color: #ff4343;
}
.formError span{
    display: none;
    position: absolute;
    background-color: #ff4343;
    color: white;
    left: 160%;
    white-space: nowrap;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    transition: 0.2s opacity;
    padding: 8px;
    opacity: 0;
}
.formError.active span{
    opacity: 1;
}
.fullform .formError span{
    left: initial;
    right: 100%;
}
#notification{
    z-index: 999999988;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 65px;
    padding: 12px 16px;
    color: white;
    border-radius: 2px;
    transition: 0.5s top;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#notification i{
    margin-right: 5px;
}
.form input.error{
    border-bottom: 2px solid #ff4343;
}
#notification:hover{
    cursor:pointer;
}
#notification.hide{
    top: -200px;
}
#notification.error{
    background-color: #ff4343;
}
#notification.notify{
    background-color: #06897e;
}


#content{
    margin-top: 70px;
    padding: 0 40px;
}
#content.nopadding{
    margin-top: 60px;
    padding: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#singleLogo{
    display: flex;
    justify-content: center;
}
#singleLogo img{
    max-height: 80px;
}
#welcomeWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0px;
}
#welcomeCategory{
    flex: 0 0 22%;
    background-color: white;
    padding: 8px;
    border-top: 5px solid #17a99d;
}
#welcomeCategory h2{
    color: #333;
    font-size: 18px;
    margin: 8px 0;
}
#welcomeCategoryList a{
    display: block;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
    transition: 0.2s;
}
#welcomeCategoryList a:hover{
    color: #17a99d;
    background-color: #f5f5f5;
}
#slider{
    background-color: #17a99d;
    /*margin-top: 16px;*/
    min-height: 350px;
    display: flex;
    flex: 0 0 75%;
    align-self: stretch;
    position: relative;
    overflow: hidden;
}
#slider img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#slider img{
    left: 100%;
    transition: 1s left;
    z-index: 8;
}
#slider img.active{
    left: 0;
    z-index: 10;
}
#slider img.left{
    left: -100%;
    z-index: 9;
}
#slider img:first-child{
    z-index: 10;
}
#slider img.right{
    left: 100%;
    z-index: 9;
}
#slider img.noTrans{
    transition: initial;
}
#slider .control{
    position: absolute;
    top: 50%;
    font-size: 32px;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.2);
    z-index: 11;
}
#slider .control:hover{
    cursor:pointer;
}
#slider .control-left{
    left: 8px;
}
#slider .control-right{
    right: 8px;
}
.section{
    margin: 32px 0px;
    background-color: white;
    padding: 16px;
    position: relative;
    flex: 1 0 70%;
}
.sideSection{
    margin: 32px 0px;
    padding: 16px;
    flex: 0 0 20%;
}
.sideSection h2{
    margin: 0;
}
.flexWrapper{
    display: flex;
}
.flexWrapper .section,.flexWrapper .sideSection{
    margin-top: 0;
}
.section h2{
    color: #333;
    margin: 8px 0px;
    font-size: 24px;
    margin: 16px 0;
    font-weight: normal;
}
.linesection h2{
    position: relative;
}
.linesection h2::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #17a99d;
}

.productWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productWrapper.left{
    justify-content: left;
}
.productManage{
    justify-content: left;
}
.product{
    background-color: transparent;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    flex: 0 0 160px;
    margin: 8px;
    border-radius: 2px;
    position: relative;
}
.product a{
    display: inline-block;
    position: relative;
}
.product .usedCondition{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: gray;
    color: white;
    padding: 4px;
    border-radius: 4px;
}
.productImage{
    height: 160px;
    width: 160px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.productDescription{
    padding: 12px;
    justify-content: space-between;
    flex: 0 1 70%;
}
.sellerInformation{
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 1px black; */
    margin-top: 16px;
    justify-content: space-between;
}
.sellerInformation > div{
    display: flex;
    align-items: center;
    padding: 8px;
    flex-grow: 1;
    flex-basis: calc(100%/4);
    justify-content: center;
}
.sellerInformation .separator{
    align-self: stretch;
    width: 1px;
    background-color: black;
    padding: 0;
    flex-grow: 0;
    flex-basis: auto;
}
.sellerInformation .image{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
}
.sellerInformation .information{
    font-weight: bold;
    color: #17a99d;
    text-align: center;
    font-size: 18px;
}
.sellerInformation .information div{
    color: #616161;
    font-size: initial;
}
.sellerInformation .name{
    font-weight: bold;
}
.sellerInformation .image img{
    width: 100%;
    height: 100%;
}
.productDescription table{
    border-collapse: collapse;
    /* box-shadow: 0 0 1px black; */
    width: 100%;
}
.productDescription .price{
    font-weight: bold;
    font-size: 32px;
    color: #17a99d;
    margin-bottom: 16px;
    display: block;
}
.productButton{
    margin-top: 16px;
    display: flex;
}
.productButton .btn{
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    margin: 0 4px;
    flex-grow: 1;
    justify-content: center;
    padding: 16px 8px;
}
.productButton .btnGray{
    margin-left: 0;
}
.productButton .btn:last-child{
    margin-right: 0;
}
.productButton input[type=text]{
    background-color: white;
    padding: 16px 8px;
    color: black;
    border: none;
    width: 96px;
    text-align: center;
}
.productButton .cartCountMod{
    color: black;
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
    background-color: #ddd;
}
.cartCountModWrapper{
    display: flex;
    box-shadow: 0 0 1px black;
    margin-right: 4px;
}
.productDescription table td,.productDescription table th{
    padding: 8px;
    text-align: left;
}
.productInformation{
    padding: 8px;
}
.productInformation > div{
    margin-top: 32px;
}
.productStars{
    display: flex;
    align-items: center;
}
.productStars img{
    width: 16px;
    height: 16px;
}
.productStars span{
    margin-left: 8px;
}
.productName{
    font-size: 18px;
}
.productName a{
    color: #616161;
    text-decoration: none;
}
.productName a:hover{
    color: #17a99d;
}
.productPrice{
    font-size: 18px;
    font-weight: bold;
    color: #17a99d;
}
.addToFav{
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.addToFav a{
    text-decoration: none;
    color: black;
}
.addToFav .fa-heart{
    color: red;
}
.addToFav:hover{
    cursor: pointer;
}
.sectionButton{
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 14px;
    color: white;
    background-color: #17a99d;
    padding: 8px;
    text-decoration: none;
}

.officialProduct{
    display: flex;
    justify-content: center;
}
.officialProduct img{
    width: 64px;
    height: 64px;
    margin: 8px;
}

.offer{
    background-color: white;
    padding: 24px;
}
#offerWrapper,#linkWrapper{
    display: flex;
    justify-content: space-between;
}
#offerWrapper i{
    font-size: 100px;
    color: #17a99d;
}
#offerWrapper > div{
    flex: 1 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #bdbdbd;
    padding: 8px;
}
#offerWrapper > div:last-child{
    border: none;
}
#offerWrapper img{
    height: 100px;
}
#offerWrapper span:first-of-type{
    font-size: 20px;
    color: #333;
    margin: 16px 0;
}
#offerWrapper span:last-of-type{
    padding: 8px;
}
#linkWrapper > div{
    flex: 1 1 auto;
}
#subscribe{
    padding: 8px;
    width: 200px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
#subscribeButton{
    padding: 8px;
    color: white;
    background-color: #17a99d;
    border: none;
}
#linkWrapper h3{
    color: #333;
}
#linkWrapper a{
    color: #616161;
    display: block;
    margin: 4px 0px;
    font-size: 14px;
}
#footer{
    background-color: #006a61;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 16px;
}
.central a{
    color: #17a99d;
}
#dashboardNavigator{
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background-color: #37474F;
    width: 20%;
    overflow-y: auto;
    font-size: 14px;
}
#dashboardNavigator ul{
    margin: 0;
    padding: 0;
}
#dashboardNavigator a, #dashboardNavigator span{
    color: white;
    text-decoration: none;
    display: block;
    padding: 16px;
    position: relative;
}
#dashboardNavigator span{
    background-color: #37474F;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
#dashboardNavigator span:hover{
    cursor: pointer;
}
#dashboardNavigator span::after{
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    border-bottom: 10px solid transparent;
    transition: transform 0.4s;
    float: right;
}
#dashboardNavigator li ul{
    display: none;
}
#dashboardNavigator span.active::after{
    transform: rotate(90deg);
}
#dashboardNavigator li ul a{
    background-color: #37474F;
    padding-left: 32px;
}
#dashboardNavigator a.active{
    background-color: #00877d;
}
#dashboardContent{
    display: inline-block;
    position: absolute;
    top:0;
    left: 20%;
    bottom: 0;
    background-color: #f5f5f5;
    right: 0;
    overflow-y: auto;
    font-size: 14px;
    padding: 16px;
}
#dashboardContent h2{
    font-size: 24px;
    margin: 16px 0;
    position: relative;
    font-weight: normal;
}
#dashboardContent h2::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #17a99d;
}

#scrollToTop{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.45;
    transition: opacity 0.5s;
}
#scrollToTop.hide{
    opacity: 0;
}
#scrollToTop:hover{
    cursor: pointer;
    opacity: 0.6;
}
#scrollToTop img{
    width: 60%;
    height: 60%;
}


.table{
    overflow-x: auto;
}
.table table{
    border-collapse: collapse;
    border: 2px solid #37474F;
}
.table th{
    padding: 16px;
    background-color: #37474F;
    color: white;
}
.table td{
    padding: 8px;
}
.table tr:nth-child(odd){
    background-color: #f5f5f5;
}
.btn{
    padding: 6px 10px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.btnBlue{
    background-color: #447adf;
}
.btnTelegram{
    background-color: #419FD9;
}
.btnRed{
    background-color: #f02a2a;
}
.btnGreen{
    background-color: #558B2F;
}
.btnGray{
    background-color: #607D8B;
}
.btnanim{
    position: relative;
}
.btnFull{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnanimation::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: width 0.2s;
    background-color: rgba(255,255,255,0.2);
}
.btnSpace{
    margin: 0 0 16px 0;
}
.btnPadding{
    padding: 12px 14px;
}
.btnanimation:hover::after{
    width: 100%;
}
.imageUploadContainer{
    flex-direction: column;
}
.addImageUpload{
    align-self: flex-start;
    color: #17a99d;
    font-size: 16px;
    margin: 12px;
}
.addImageUpload:hover{
    cursor: pointer;
}
.productTitle{
    margin-top: 0 !important;
    font-weight: bold !important;
}
.imageViewer{
    flex: 0 0 40%;
    display: flex;
}
.imageViewer .mainImage{
    width: 100%;
    height: 300px;
}
.imageViewer .mainImage img{
    max-width: 100%;
    max-height: 100%;
}
.imageViewer .otherImages{
    display: flex;
    flex-direction: column;
}
.imageViewer .otherImages img{
    width: 64px;
    height: 64px;
    margin: 4px;
}
.imageViewer .otherImages img:hover{
    cursor: pointer;
}
.imageViewer .otherImages img:first-child{
    margin-top: 0;
}

.accountInformation .flexWrapper{
}
.profilePhoto{
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-width: 300px;
    position: relative;
}
.profilePhoto img{
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-width: 300px;
}
.profilePhoto .btn{
    position: absolute;
    top: 8px;
    right: 8px;
}
.userInformation{
    display: flex;
    flex-grow: 1;
}
.userInformation td:first-child{
    font-weight: bold;
}
.userInformation td{
    padding: 16px 8px;
}

.dashboardWrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.dashboardCard{
    background-color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    margin: 5px;
    display: flex;
    color: #333;
    width: 30%;
    flex-grow: 1;
}
.dashboardCard .icon{
    background-color: #37474F;
    color: white;
    font-size: 48px;
    padding: 24px;
}
.dashboardCard .text{
    font-size: 18px;
    padding: 16px 8px;
}
.sliderTable img{
    max-width: 300px;
    max-height: 200px;
}

.subSectionWrapper{
    border-radius: 2px;
    padding: 16px;
    margin-bottom: 16px;
}
.subSectionWrapper h4{
    margin: 0 0 16px 0;
}
.subSectionWrapper h4 .status{
    font-weight: normal;
}
.subSectionWrapper .totalPerCart{
    margin-top: 16px;;
    display: flex;
    align-items: center;
}
.subSectionWrapper .totalPerCart span{
    color: #17a99d;
    font-size: 20px;
    font-weight: bold;
    flex-basis: 20%;
}
.subSectionItem{
    display: flex;
    margin: 8px;
    padding: 8px;
    align-items: center;
}
.subSectionItem.column{
    flex-direction: column;
    align-items: flex-start;
}
.subSectionItem h4{
    margin: 0;
}
.subSectionItem img{
    width: 64px;
    height: 64px;
    margin-right: 16px;
}
.subSectionItem .smallImages{
    margin-top: 8px;
}
.subSectionItem .smallImages a{
    text-decoration: none;
}
.subSectionItem .smallImages img{
    width: 48px;
    height: 48px;
    margin: 4px;
}
.subSectionItem .name{
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
.subSectionItem .price{
    font-weight: bold;
    color: #17a99d;
    font-size: 18px;
    margin-top: 8px;
}
.subSectionItem .description{
    flex-basis: 25%;
}
.subSectionItem .times{
    margin-left: 32px;
    font-weight: bold;
    flex-basis: 10%;
}
.subSectionItem .totalItem{
    margin-left: 24px;
    font-weight: bold;
    color: #17a99d;
}
.starsButton input{
    display: none;
}
.starsButton label{
    margin-right: 0;
    padding: 4px;
}
.fa-star.yellow{
    color: yellow;
}

.review{
    /* box-shadow: 0 0 1px black; */
    padding: 8px;
    margin: 8px;
    display: flex;
}
.review img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
}
.review .name{
    font-weight: bold;
}
.processWrapper{
    display: flex;
    justify-content: center;
}
.processWrapper div{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    margin: 8px;
    display: inline-block;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.processWrapper div.active{
    background-color: #2E7D32;
    color: white;
}
.processWrapper div.reject{
    background-color: #f02a2a;
    color: white;
}
.invoiceInformation{
    margin-top: 16px;
}
.invoiceInformation > div{
    margin: 8px 0;
}
.invoiceInformation .totalPrice{
    font-weight: bold;
    font-size: 24px;
    color: #17a99d;
}
.invoiceInformation .totalPrice.cut{
    text-decoration: line-through;
    color: #999;
    margin-bottom: 0;
}
.invoiceInformation .totalPrice + .cutPrice{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #17a99d;
}
.h-separator{
    height: 1px;
    background-color: #ccc;
    box-shadow: 0 0 1px #ccc;
    margin: 16px 0;
}
.processWrapper + .status{
    text-align: center;
}
.subSectionWrapper .status{
    font-weight: bold;
}
.subSectionWrapper .totalPrice{
    font-size: 20px;
    font-weight: bold;
    color: #17a99d;
    margin-top: 8px;
}
.subSectionWrapper .totalPrice.cut{
    text-decoration: line-through;
    color: #999;
    margin-bottom: 0;
}
.subSectionWrapper .totalPrice + .cutPrice{
    margin-top: 0;
    font-size: 14px;
    color: #17a99d;
    font-weight: bold;
}
.sideSection .paymentNumber{
    font-weight: bold;
    font-size: 20px;
}
.notificationItem{
    margin: 8px;
    padding: 8px;
}
.notificationItem a{
    color: #17a99d;
}
.notificationItem.read a{
    font-weight: bold;
}
.sideSection .userInformation{
    display: flex;
    align-items: center;
}
.sideSection .userInformation img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}
.disposalButton{
    display: flex;
}
.disposalButton .btn{
    flex-basis: 40%;
    flex-grow: 1;
    margin: 4px;
    padding: 8px;
}
.receipt div{
    margin: 4px 0;
}
.itemButton{
    position: absolute;
    right: 8px;
    top: 8px;
}
